node_modules
.DS_Store
npm-debug.log
node_modules
npm-debug.log
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

.idea
.vscode
javac-services.0.log*
