//
//  Build.xcconfig
//  Firestack
//
//  Created by Ari Lerner on 7/28/16.
//  Copyright © 2016 Facebook. All rights reserved.
//
#include "Pods/Target Support Files/Pods-OAuthManager/Pods-OAuthManager.debug.xcconfig"

FRAMEWORK_SEARCH_PATHS = $(inherited) ${SRCROOT}/Pods/**
HEADER_SEARCH_PATHS = $(inherited) ${SRCROOT}/../../React ${SRCROOT}/../../node_modules/react-native/React ${SRCROOT}/../../react-native/React
EMBEDDED_CONTENT_CONTAINS_SWIFT = YES
MACH_O_TYPE = mh_dynamic
CLANG_ENABLE_MODULES=YES
CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = YES
USER_HEADER_SEARCH_PATHS = $(SRCROOT)/Pods/**/**
